/*==========================================
=            REUSABLE COMPONENT            =
==========================================*/
.form__input{
	width: 16.875em;
	margin-top: 0.625em;
	margin-bottom: 0.625em;
	padding: 0.625rem;
	background-color: #f0f0f0;
	border: solid 1px #000;
}