/*====================================
=            Theme Styles            =
====================================*/
/* Colours */
$main-colour: #1291ae;
$secondary-colour: #f68a09;
$bg-colour: #fcfcfc;
